body {
  padding: 100px 20px;
}

input, input:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.container {
  width: 540px;
}

.lead {
  font-size: 21px !important;
}

.address-unit, .address-unit:focus {
  border: none !important;
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu span {
  cursor: pointer;
}
